html, body.my_body
{
color: black;
font-family: 'Raleway', sans-serif;
font-weight: bold;
height: 100%;
width: 100%;
margin: 0;
}

html
{	
	background-image: url('/img/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.full-height
{
height: 100vh;
}

.flex-center
{
align-items: center;
display: flex;
justify-content: center;
}

.position-ref
{
position: relative;
}

.top-right
{
position: absolute;
right: 10px;
top: 18px;
}

.content
{
text-align: center;
}

.title
{
font-size: 84px;
}

.links > a
{
color: #636b6f;
padding: 0 25px;
font-size: 12px;
font-weight: 600;
letter-spacing: .1rem;
text-decoration: none;
text-transform: uppercase;
}

.m-b-md
{
margin-bottom: 30px;
}

.underform
{
	position: absolute;
	top: 60%;
	left: 15%;
	font-size: 25px;
}

.my_p
{
	font-size: 30px;
	color : black;
}

.name
{
	color: red;
}

.type
{
	color: green;
}

.gender
{
	color: #FF05B5;
}

.age
{
	color: purple;
}

.height
{
	color: blue;
}

.v_middle
{
	top : 40%;
}

/*SIDE 
*/

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

body {
    background: transparent;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
    background-image: url('/img/banner2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.navbar-default .navbar-nav #user-profile {
    height: 50px;
    padding-top: 15px;
    padding-left: 58px;
}

.navbar-default .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 1px;
}

#wrapper {
    padding-top: 50px;
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    border-right: 0px solid #e7e7e7;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
	    background-image: url('/img/background.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
}

.sidebar-nav li:first-child a {
    background: #92bce0 !important;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 200px;
        height: 0;
    }
}

.sidebar-nav li:first-child a {
    background: #92bce0 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #6aa3d5 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
    background: #428bca !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
    background: #3071a9 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(5) a {
    background: #245682 !important;
    color: #fff !important;
}


/************   TEAMS CARD   **************/

#accordion
{
margin: 14%;
}

#accordion article
{
-webkit-transform: perspective(900px) rotateY(60deg);
-webkit-transition: all 0.7s ease-in-out;
background: #fff;
border: 1px solid #f3f3f3;
box-shadow: 0px 5px 15px gray;
float: left;
height: 420px;
margin-left: -180px;
padding: 20px;
width: 220px;
}

#accordion article:first-child
{
margin-left: 0px;
}

#accordion article img
{
float: left;
padding: 0 10px 5px 0;
}

#accordion article:hover
{
-webkit-transform: perspective(0) rotateY(-10deg);
margin: 0 140px 0 -60px;
}

article.accordion_find
{
-webkit-transform: perspective(0) rotateY(-10deg) !important;
margin: 0 140px 0 -60px;
}


/************   END OF TEAMS CARD   **************/
/************   PLAYER CARD (table)   **************/

.yann_table_maxsize
{
  position: relative;
    background-color: #add8e6;
    width: 95%;
    margin-bottom: 3%;
}

.yann_subtable_maxsize
{
    width: 100%;
}

.yann_table_g
{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0;
    color: black;
}

th.yann_table_g
{
    font-weight: normal;
    border-right: 1px solid black;
}

td.yann_table_g
{
    border-left: 1px solid black;
    font-weight: bold;
}


tr.yann_table_g td table.yann_subtable_maxsize tr.yann_subtable th.yann_admin
{
  width: 15%;
}

tr.yann_table_g td table.yann_subtable_maxsize tr.yann_subtable td.yann_admin
{
  width: 11%;
}

tr.yann_subtable:first-child, tr.yann_subtable:first-child td, tr.yann_subtable:first-child th
{
    border-top:0px;
}

tr.yann_subtable:last-child:not(:first-child), tr.yann_subtable:last-child:not(:first-child) td, tr.yann_subtable:last-child:not(:first-child) th
{
    border-bottom:0px;
}

tr.yann_subtable td:last-child, tr.yann_subtable
{
    border-right:0px;
}

tr.yann_subtable:first-child:last-child
{
        background-color: #bde8FF;
}

.yann_table_img
{
    width : 100%;
}

tr.yann_subtable td
{
    width: 10%;
}

tr.yann_subtable th
{ 
    width: 15%;
}

tr.yann_subtable:first-child:last-child td
{
    width: 16.67%;
}

tr.yann_subtable:first-child:last-child th
{ 
    width: 16.67%;
}

/************   END OF PLAYER CARD (table)   **************/
/************   PLAYER GRAPH   **************/

@import url(https://fonts.googleapis.com/css?family=Roboto);

.column-chart
{
  position: relative;
  z-index: 20;
  bottom: 0;
  left: 20%;
  width: 100%;
  height: 320px;
  margin-top: 40px;
  margin-left: -50%;
}

@media (min-width: 568px) {
  .column-chart {
    width: 85%;
    margin-left: -13%;
  }
}

@media (min-width: 768px) {
  .column-chart {
    width: 85%;
    margin-left: -13%;
  }
}

@media (min-width: 992px) {
  .column-chart {
    width: 85%;
    margin-left: -13%;
  }
}

@media (min-width: 1024px) {
  .column-chart {
    width: 85%;
    margin-left: -13%;
  }
}

.column-chart:before,
.column-chart:after
{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: calc(100% + 5px);
  height: 25%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.column-chart:after
{
  top: 50%;
}

.column-chart > .legend {
  position: absolute;
  z-index: -1;
  top: 0;
}

.column-chart > .legend.legend-left {
  left: 0;
  width: 25px;
  height: 100%;
  margin-left: -55px;
  border: 1px solid #b4b4b5;
  border-right: none;
}

.column-chart > .legend.legend-left > .legend-title {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 65px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  margin-left: -60px;
  font-size: 28px;
  letter-spacing: 1px;
}

.column-chart > .legend.legend-right {
  right: 0;
  width: 100px;
  height: 100%;
  margin-right: -115px;
}

.column-chart > .legend.legend-right > .item {
  position: relative;
  width: 100%;
  height: 25%;
}

.column-chart > .legend.legend-right > .item > h4 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  font-size: 16px;
  text-align: right;
}

.column-chart > .chart {
  position: relative;
  z-index: 20;
  bottom: 0;
  left: 50%;
  width: 98%;
  height: 100%;
  margin-left: -49%;
}

.column-chart > .chart > .item
{
  position: relative;
  float: left;
  height: 100%;
}

.column-chart > .chart > .item:before
{
  position: absolute;
  z-index: -1;
  content: '';
  bottom: 0;
  left: 50%;
  width: 1px;
  height: calc(100% + 5px);
  border-right: 1px solid black;
}

.column-chart > .chart > .item > .bar
{
  position: absolute;
  bottom: 0;
  left: 3px;
  width: 94%;
  height: 100%;
}

.column-chart > .chart > .item > .bar > span.percent
{
  display: block;
  position: absolute;
  z-index: 25;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26px;
  line-height: 26px;
  color: #fff;
  background-color: #3e50b4;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.column-chart > .chart > .item > .bar > .item-progress
{
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 20%;
  color: #fff;
  background-color: #ff4081;
}

.column-chart > .chart > .item > .bar > .item-progress > .title
{
  position: absolute;
  top: calc(50% - 13px);
  left: 50%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

@media (min-width: 360px) {
  .column-chart > .chart > .item > .bar > .item-progress > .title {
    font-size: 16px;
  }
}

@media (min-width: 480px)
{
  .column-chart > .chart > .item > .bar > .item-progress > .title {
    font-size: 18px;
  }
}

/************   END OF PLAYER GRAPH   **************/
/************   FIXTURE TABLE   **************/

.yann_fixture_table_maxsize
{
    width: 100%;
}

.yann_fixture_subtable_maxsize
{
    width: 90%;
}

.yann_fixture_table_g
{
    background-color: #add8e6;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0;
    color: black;
}

tr.yann_fixture_table_g th
{
    background-color: #bde8ff;
    width:15%;
}

tr.yann_fixture_table_g td
{
    background-color: #add8e6;
    width: 10%
}

table tr th.yann_team_left, table tr th.yann_team_right, table tr th.yann_score
{
    font-weight: bold;
    font-size: 18px;
    width:33%;
    border: 0px;
}

td.yann_admin_fixtures
{
  width: 10% !important;
}

th.yann_admin_fixtures
{
  width: 12.5% !important;
}

/************   END OF FIXTURE TABLE   **************/
/************   FORM   **************/

.centered-form
{
  margin-top: 60px;
}

.centered-form .panel
{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.panel-title
{
  text-align: center;
}

/************   END OF FORM   **************/
/************   ALERT   **************/

.alert-succes
{
  color:#155724;
  background-color:#d4edda;
  border-color:green;
}

.alert-warning
{
  color:#856404;
  background-color:#fff3cd;
  border-color:#ffeeba;
}

.alert
{
  position:relative;
  width: 96%;
  padding:.75rem 1.25rem;
  margin-top: 5px;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  opacity: .8;
}

.message
{
  display:none;
}

/************   END OF ALERT   **************/

/****** ORDERS TABLE  *******/

.points_table thead {
  width: 100%;
}

.points_table tbody {
  height: 562px;
  overflow-y: auto;
  width: 100%;
}

.points_table thead tr{
  width: 99%;
}

 .points_table tr{
  width: 100%;
 }

.points_table thead, .points_table tbody, .points_table tr, .points_table td, .points_table th{
  display: inline-block;
}

.points_table thead{
  background: #d91f2d;
  color: #fff;
}

.points_table tbody td, .points_table thead > tr> th{
  float: left;
  border-bottom-width: 0;
}

.points_table>tbody>tr>td, .points_table>tbody>tr>th, .points_table>tfoot>tr>td, .points_table>tfoot>tr>th, .points_table>thead>tr>td, .points_table>thead>tr>th{
  padding: 8px;
  height: 50px;
  text-align: center;
  line-height: 32px;
}

.odd {
  background: #ffffff;
  color: #000;
}

.even {
  background: #efefef;
  color: #000;
}

.points_table_scrollbar{
  height: 612px;
  overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;
  background-color: #444444;
}

.points_table_scrollbar::-webkit-scrollbar{
  width: 1%;
  min-width: 5px;
  background-color: #F5F5F5;
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)