.note
{
    border-style: solid;
    border-color: blue;
}

.email
{
    border-style: solid;
    border-color: green;
}

.todo
{
    border-style: solid;
    border-color: red;
}

button
{
	display: block;
	margin-bottom: 5px;
}

li
{
	display: flex;
}