main
{
	width: 600px;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

main div div
{
	border:solid;
	height: 32.3%;
	width: 32.3%;
}

main div
{
	height: 600px;
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

button
{
	margin-top: 5px;
}