<img [ngClass]="loading ? 'normal': 'loading'"
	src="./assets/img/pokeball.png" alt="pokeball" height="300" width="300">
<br>



<input #pokemon placeholder="Pokemon name or ID">
<button (click)="getPokemon(pokemon.value)">Get Pokemon</button>

<div *ngIf="error">{{error.error}}</div>

<div *ngIf="pokemon_keys">
	<table>
		<tr>
			<th *ngFor="let field of pokemon_keys">
			{{field.substring(0,1).toUpperCase()+field.substring(1)}}</th>
		</tr>

		<tr>
			<td *ngFor="let field of pokemon_keys">
				{{pokemon_catched[field]}}
				<!--span *ngIf="typeof(pokemon_catched[field]) == string">
				</span-->
			</td>
		</tr>
	</table>
</div>