<img [ngClass]="loading ? 'normal': 'loading'"
	src="./assets/img/pokeball.png" alt="pokeball" height="300" width="300">
<br>



<input #pokemon placeholder="Pokemon name or ID">
<button (click)="getPokemon(pokemon.value)">Get Pokemon</button>

<div *ngIf="error">{{error.error}}</div>

<div *ngIf="pokemon_catched">
	<table>
		<tr>
			<th>Name</th>
			<th>ID</th>
			<th>Type</th>
		</tr>

		<tr>
			<td>{{pokemon_catched.name}}</td>
			<td>{{pokemon_catched.id}}</td>
			<td>
				<span *ngFor="let type of pokemon_catched.types">
					{{ type.type.name }} 
				</span>
			</td>
		</tr>
	</table>
</div>