{% extends 'base.html.twig' %}

{% block main %}
    <h1>Product_comment creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('product_show', {'id' : product_Comment.product.id}) }}">Back to the product</a>
        </li>
    </ul>
{% endblock %}
