{% extends "layout/layout.html" %}
{% block body %}

	{% for data in article %}
		<a href="{{ url_for('article_read', id=data['id']) }}"><div class="alert alert-success">
			title = {{ data['title'] }}<br>
			body = {{ data['body'] }}<br>
			creation date = {{ data['creation_date'] }}<br>
			{% if session['user'] and data['user_id'] == session['user']['id'] %}
				<a href="{{ url_for('article_edit', id=data['id']) }}"><button>Edit</button></a><br>
				<a href="{{ url_for('article_delete', id=data['id']) }}"><button>Delete</button></a><br>
			{% endif %}
		</div></a>
	{% endfor %}
{% endblock %}
</html>
