{% extends "layout/layout.html" %}
{% block body %}

	<div class="alert alert-success">{{ message }}</div>
	<div class="alert alert-warning">{{ post }}</div>
	<div class="alert alert-warning">{{ log }}</div>
	

	<div class="container" style="padding-top: 15px">
	    <div class="row centered-form">
	        <div class="col-xs-12 col-sm-10 col-md-11 col-sm-offset-0 col-md-offset-0">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Delete Article</h3>
	                </div>
	                <div class="panel-body">
		                <form method="POST">
		                    <div class="row">
		                        <div class="col-xs-2 col-sm-2 col-md-2">
		                        	<div>
		                        		<input type="checkbox" name="del" value="True">delete article
		                        	</div>
		                        </div>
		                    </div>
		                    <input type="submit" class="btn btn-info btn-block" value="Delete Article">
		                </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

{% endblock %}
</html>
