{% extends "layout/layout.html" %}
{% block body %}

	<div class="alert alert-success">
	id = {{ data['id'] }}<br>
	Title = {{ data['title'] }}<br>
	Body = {{ data['body'] }}<br>
	created_at = {{ data['created_at'] }}<br>
	user_id = {{ data['user_id'] }}<br>
	{% if session['user'] and data['user_id'] == session['user']['id'] %}
		<a href="{{ url_for('article_edit', id=data['id']) }}"><button>Edit</button></a><br>
		<a href="{{ url_for('article_delete', id=data['id']) }}"><button>Delete</button></a><br>
	{% endif %}
	</div>

	{% for comment in comments %}
		<div class="alert alert-warning">
			Message = {{ comment['message'] }}<br>
			{% if session['user'] and comment['user_id'] == session['user']['id'] %}
				<a href="{{ url_for('comment_update', article_id=data['id'], comment_id=comment['id']) }}">Edit</a><br>
				<a href="{{ url_for('comment_delete', article_id=data['id'], comment_id=comment['id']) }}">Delete</a><br>

			{% endif %}
		</div>
	{% endfor %}

	{% if session['user'] %}
	<div class="container" style="padding-top: 15px">
	    <div class="row centered-form">
	        <div class="col-xs-12 col-sm-10 col-md-11 col-sm-offset-0 col-md-offset-0">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">New Comment</h3>
	                </div>
	                <div class="panel-body">
		                <form method="POST" action="/comment/create">
		                    <div class="row">
		                        <div class="col-xs-2 col-sm-2 col-md-2">
		                        	<div>
		                        		{{ form.message.label(class_="") }}
		                        	</div>
		                        </div>
		                        <div class="col-xs-4 col-sm-4 col-md-4">
		                            <div class="form-group">
										{{ form.message(class_="form-control input-sm", size=20) }}
										{{ form.user_id(class_="form-control input-sm", size=20, value=session['user']['id']) }}
										{{ form.article_id(class_="form-control input-sm", size=20, value=data['id']) }}
		                            </div>
	                           	</div>
		                    </div>
		                    <input type="submit" class="btn btn-info btn-block" value="New Comment">
		                </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	{% endif %}
{% endblock %}
</html>
