{% extends "layout/layout.html" %}
{% block body %}

	{{ session['user'] }}

	<div class="container" style="padding-top: 15px">
	<div class="row centered-form">
		<div class="col-xs-12 col-sm-10 col-md-11 col-sm-offset-0 col-md-offset-0">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Edit User</h3>
					</div>
					<div class="panel-body">
						<form method="POST">
							<div class="row">
								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.username.label(class_="") }}
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.username(class_="form-control input-sm", size=20, value=session['user']['username']) }}
									</div>
								</div>

								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.password.label(class_="") }}
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.password(class_="form-control input-sm", size=20) }}
									</div>
								</div>
							</div>
							<div class="row">

								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.confirm.label(class_="") }}
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.confirm(class_="form-control input-sm", size=20) }}
									</div>
								</div>
								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.first_name.label(class_="") }} 
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.first_name(class_="form-control input-sm", size=20, value=session['user']['first_name']) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.last_name.label(class_="") }}
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.last_name(class_="form-control input-sm", size=20, value=session['user']['last_name']) }}
									</div>
								</div>
								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.email.label(class_="") }}
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.email(class_="form-control input-sm", size=20, value=session['user']['email']) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.birthdate.label(class_="") }} 
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.birthdate(class_="form-control input-sm", size=20, value=session['user']['birthdate']) }}
									</div>
								</div>

								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.address.label(class_="") }}
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.address(class_="form-control input-sm", size=20, value=session['user']['address']) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										<label for="eye_color">Eye Color</label>
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										<input type="color" id="eye_color" name="eye_color" value="{{ session['user']['eye_color'] }}" size="20" style="height:40px;width:100%" >
									</div>
								</div>
								<div class="col-xs-2 col-sm-2 col-md-2">
									<div>
										{{ form.adn_sequence.label(class_="") }}
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4">
									<div class="form-group">
										{{ form.adn_sequence(class_="form-control input-sm", size=20, value=session['user']['adn_sequence']) }}
									</div>
								</div>
							</div>
							<input type="submit" class="btn btn-info btn-block" value="Edit User">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
</html>
