<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Echo{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('css/style.css') }} ">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

            <header>
                {% include "skeleton/header.html.twig" %}
            </header>

            <div class="flash">
                {% include "skeleton/flash.html.twig" %}
            </div>

            <div id="my_container">

                <aside>
                    {% block aside1 %}
                        {% include "skeleton/aside1.html.twig" %}
                    {% endblock %}
                </aside>


                <main>
                    {% block main %}{% endblock %}
                </main>


                <aside>
                    {% block aside2 %}
                        {{ render(controller('AppBundle:Aside:getCategory'))}}
                    {% endblock %}
                </aside>

            </div>

            <footer>
                {% include "skeleton/footer.html.twig" %}
            </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
